<div class="home-page">
  <div nag-tabs="defaultOptions" data-ut="default" data-template="/app/components/home/assets/templates/tabs-defaults.html"></div>
  <div nag-tabs="setDefaultTabStringOptions" data-ut="set-default-tab-string" data-template="/app/components/home/assets/templates/tabs-set-default-tab-string.html"></div>
  <div nag-tabs="setDefaultTabNumberOptions" data-ut="set-default-tab-number" data-template="/app/components/home/assets/templates/tabs-set-default-tab-number.html"></div>
</div>
